$mainWhite: #fff;
$mainBlack: #000000;
$mainGray: #e6e6e6;

.appTitle {
  margin: 20px 0;
  text-align: center;

  &-text {
    font-size: 32px;
    font-weight: bold;
  }
}

.appContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  .box-container {
    display: inline-block;
    min-width: 250px;
    max-width: 400px;
    padding: 20px 15px 10px;
    border: 1px solid $mainBlack;
    text-align: center;
    background-color: $mainWhite;

    .title {
      margin: 0 0 20px 0;

      &-text {
        display: inline-block;
        width: 155px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        cursor: text;
      }

      .inputBox-boardName {
        width: 100px;
      }
    }

    .input {
      margin: 0 0 10px 0;

      .inputBox {
        width: 150px;
      }
    }

    button.show-input,
    button.add,
    button.cancel,
    button.delete {
      padding: 5px 10px;
      margin: 0 0 0 10px;
      cursor: pointer;
    }

    .listContent {
      display: flex;
      flex-direction: row;
      margin: 10px 0 0 0;
      padding: 5px 10px;
      border: 1px solid $mainBlack;
      background-color: $mainGray;

      &-title {
        display: inline-block;
        width: 90%;
        text-align: left;

        &-text {
          display: inline-block;
          cursor: text;
        }
      }
    }
  }
}
